/* Header style */
      header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        padding: 0.5em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 999;
      }

      header .container {
        margin: 0 auto;
        padding: 0 1.2500em;
      }

      footer {
        background-color: #222222;
        padding: 0.6250em;
        text-align: center;
        font-size: 0.8750em;
        color: #fff;
      }

      footer .container {
        margin: 0 auto;
        padding: 0 0.6em;
      }

      /* Add table style for hiring process */
      .container {
        margin: 0 auto;
      }

      table {
        text-align: left;
        border-collapse: collapse;
        margin: 0 auto;
      }

      td {
        padding: 1.5625em;
        border: 0px;
      }

      td:first-child {
        text-align: left;
      }

      th {
        padding: 0.9375em;
        background-color: #25b3c3;
    }

      .container table tr {
        transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, opacity 0.3s ease-in-out;
        position: relative;
      }

      .container table tr:hover {
        background-color: #99d5dd;
        color: #333;
        opacity: 0.8;
      }

      .container table tr:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0.125em;
        background-color: #ff3067;
        transform: scaleX(0);
        transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
      }

      .container table tr:hover:before {
        transform: scaleX(1);
        background-color: #ff3067;
      }

      .container table tr h4 {
        margin-bottom: 0.3125em;
      }

      /* Add Apple-inspired CSS styles */
      body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin: 0;
        padding: 0;
      }

      nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
      }

      nav li {
        display: inline;
      }

      nav a {
        color: #fff;
        text-decoration: none;
        padding: 0.625em;
        font-size: 1em;
      }

      #banner {
        position: relative;
        background-image: url("images/bg-img.png");
        background-size: cover;
        height: 110vh;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        text-align: center;
      }

      #banner::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 1;
      }

      #banner .container {
        position: relative;
        z-index: 2;
      }

      #about,
      #jobs,
      #culture-benefits,
      #contact {
        padding: 0em 0;
      }
      #contact a {
        color: #333333;
      }
      #jobs a {
        color: #484b6a;
      }

      #culture-benefits {
        display: flex;
        justify-content: center;
      }

      h1,
      h2,
      h3,
      h4 {
        color: #000;
        text-align: center;
        margin-bottom: 1.25em;
      }

      h1 {
        font-size: 2.5em;
      }

      h2 {
        font-size: 2em;
      }

      p {
        margin-bottom: 0.9375em;
        text-align: center;
      }

      ul,
      ol {
        margin-bottom: 0.9375em;
      }

      li {
        margin-bottom: 0.3125em;
      }
/* Intro Box styles */
      .intro {
        text-align: left;
        background-color: #ff0044;
        border-radius: 0 0 30% 30%;
        padding: 5.841vw;
        color: #fff;
        overflow: hidden;
        margin-bottom: 2.179vw;
      }

      @media (min-width: 1024px) {
        h1 {
          font-size: 2.25em;
        }

        h2 {
          font-size: 1.5em;
        }

            
        .logo {
          width: 5.841vw;
        }

        nav a {
          font-size: 0.875em;
          padding: 0.5em;
        }

        p {
          font-size: 0.875em;
        }
            
       #banner {
        background-size: cover;
        height: 110vh;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        text-align: center;
             
      }

      #banner::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 1;
      }

      #banner .container {
        position: relative;
        z-index: 2;
        margin-bottom: 2.179vh;
      }
      

       .textbox-container {
        display: flex;
        justify-content: center;
      }

      .textbox {
        display: inline-block;
        width: 39.011vw;
        height: auto;
        background-color: #25b3c3;
        color: white;
        padding: 0.494em;
        font-size: 0.875em;
        line-height: 1.4;
        vertical-align: middle;
        box-sizing: border-box;
        border-radius: 0.925em;
        margin: 1.5vw;
        text-align: center; 
      }
            
        #myInput {
        margin-bottom: 1.875em;
        border-radius: 1.5625em;
        background-image: url('images/search-icon.gif');
        background-position: 2vw center;
        background-repeat: no-repeat;
        width: 100%;
        font-size: 16px;
        padding: 1em 0 1em 3em;
        border: 1px solid #ddd;
        margin-bottom: 12px;
        background-size: 2vw;
        }
      } 
      
      @media screen and (min-width: 767px) and (max-width: 1023px) {
       header {
          font-size: 0.5em;
          text-align: left;
         }
       .logo {
          width: 5px; /* fallback value */
          width: 0.5vh;
        }
      
        h1 {
          font-size: 1.75em;
        }

        h2 {
          font-size: 1.25em;
        }

        nav a {
          font-size: 0.875em;
          padding: 0.5em;
        }

        p {
          font-size: 0.875em;
        }
            
       #banner {
        background-size: cover;
        height: 47vh;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        text-align: center;
             
      }

      #banner::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        z-index: 1;
      }

      #banner .container {
        position: relative;
        z-index: 2;
      }
      
      

       .textbox-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .textbox {
        display: inline-block;
        width: 50%;
        height: auto;
        background-color: #25b3c3;
        color: white;
        padding: 0.494em;
        font-size: 0.875em;
        line-height: 1.4;
        vertical-align: middle;
        box-sizing: border-box;
        border-radius: 1em;
        margin: 1.5vh;
        text-align: center; 
      }     
      } 

      /* Swiper Slider styles */
      .swiper-button-next,
      .swiper-button-prev {
        position: absolute;
        top: 50%;
        width: 2.179vw;
        height: 2.179vw;
        transform: translateY(-50%);
        background-color: rgba(0, 0, 0, 0.5);
        color: #fff;
        border-radius: 50%;
        font-size: 2.5em;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .swiper-button-next {
        right: 0.732vw;
      }

      .swiper-button-prev {
        left: 0.732vwm;
      }

      #photo-slider {
        position: relative;
      }

      .swiper-container {
        width: 100%;
        height: 51.322vw;
      }

      .swiper-slide {
        background-size: cover;
        background-position: center;
      }

/* Dark Mode styles */
      @import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

      * {
        box-sizing: border-box;
      }

      body {
        background-color: #faf7f2;
        color: #333;
      }

      .dark {
        background-color: #121212;
        color: #fff;
      }

      .dark h1,
      .dark h2,
      .dark h3,
      .dark h4 {
        color: #fff;
      }

      .dark .icon,
      .dark a {
        color: #fff;
      }

      .dark .intro {
        background-color: #282828;
      }

      .dark .textbox {
        background-color: #282828;
      }

      .dark #jobs a {
        color: #fff;
      }

      .dark #contact a {
        color: #fff;
      }

      .checkbox {
        opacity: 0;
        position: absolute;
      }

      .checkbox-label {
        background-color: #111;
        width: 3.125em;
        height: 1.625em;
        border-radius: 3.125em;
        position: relative;
        padding: 0.3125em;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .fa-moon {
        color: #f1c40f;
      }

      .fa-sun {
        color: #f39c12;
      }

      .checkbox-label .ball {
        background-color: #fff;
        width: 1.375em;
        height: 1.375em;
        position: absolute;
        left: 0.125em;
        top: 0.125em;
        border-radius: 50%;
        transition: transform 0.2s linear;
      }

      .checkbox:checked+.checkbox-label .ball {
        transform: translateX(1.5em);
      }

/* table filter */
      * {
        box-sizing: border-box;
      }

      .input-container {
        display: flex;
        justify-content: center;
      }

      #myInput {
        margin-bottom: 1.875em;
        border-radius: 1.5625em;
        background-image: url('images/search-icon.gif');
        background-position: 20px center;
        background-repeat: no-repeat;
        width: 100%;
        font-size: 16px;
        padding: 12px 0 12px 60px;
        border: 1px solid #ddd;
        margin-bottom: 12px;
        background-size: 5%;
        }

        #myjobsTable {
          border-collapse: collapse;
          margin: 0 auto;
          font-size: 1em;
          width: 40%;
        }

        #myjobsTable th,
        #myjobsTable td {
          text-align: left;
          padding: 0.9375em;
        }

        #myjobsTable tr.header,
        #myjobsTable tr:hover {
          background-color: #99d5dd;
          opacity: 0.9;
          text-align: left;
        }
